// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
background-image: image-url("assets/images/retina_wood.png")
}

.thumb {
	border:1px solid #222222;
	text-align: center;
	border-radius: 25px;
	background-color: #eeeeee;
}
a.hover {
	text-decoration: none;

}
#discount {
	text-color: #ff00000;
}
#on_sale {
	text-color: #0000ff;
}